html, body, [class*="css"]  {
    font-family: 'Avenir', 'Arial', sans-serif;
    font-weight: 300;
}

.block-container {
    min-height: 100vh;       /* FJK -- set to full viewport height */
    background-image: url("https://raw.githubusercontent.com/iansargent/Data-Exploration-Tool-in-Python/main/Images/HomePagePhoto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 2rem;
}

[data-testid="stHeader"] {
    background: rgba(255, 255, 255, 0.0);
}

Custom container style
.custom-container {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: 'Avenir', 'Arial';
    font-weight: 300;
    color: #333333;
}