streamlit==1.46.1
streamlit-aggrid==1.1.6
streamlit-extras==0.7.5
pandas==2.3.0
geopandas==1.1.1
pyogrio==0.11.0
altair==5.5.0
numpy==2.1.3

matplotlib==3.10.0
pydeck==0.9.1
openpyxl==3.1.5
pyarrow==18.1.0
shapely==2.1.1
leafmap==0.48.6
requests==2.32.4
markdown==3.8.2

# statsmodels
# ydata-profiling
# streamlit-pandas-profiling
# scikit-learn

