streamlit
streamlit-aggrid
streamlit-extras
pandas
geopandas
pyogrio
altair
numpy
statsmodels
ydata-profiling
matplotlib
pydeck
streamlit-pandas-profiling
openpyxl
jsonopenpyxl
pyarrow
shapely
leafmap
